@import "base";
@import "vars";


.text-padding{
	padding: 1.2em 0;
}
.main__container {
	max-width: 1100px;
	width: 80%;
	margin: 0 auto;
	border-radius: 9px;
	background-color: rgb(252, 252, 252);
}

.primary_container {
	background: url("../media/main.jpg");
	width: 100%;
	height : 400px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(190, 192, 196, 0.2);
  position: relative;
}
.contact_container, .catalog_container {
	background: #fcfcfc;
	width: 100%;
	padding : 20px;
	position: relative;
	.navList{
		a{
			color:black;
		}
	}
}

.hero__content {
		position: absolute;
  	top: 60%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 40%;
  	text-align: center;
  	color: $primary-text-color;

  	.booking{
  		background: $button-color;
  		border-radius: 15px;
  		border: none;
  		padding: 8px 15px;
  		color:$primary-text-color;
 			font-size: 10px;
 			cursor: pointer;
  	}
}

.navList {
	display: flex;
  align-items: center;
  justify-content: center;
	padding-top: 30px;
  
  a {
	  color:white;
	  font-weight: 300;
	  letter-spacing: 1px;
	  text-decoration: none;
	  padding:10px 5px;
	  transition:all 0.5s;
	  font-size: 1.1em;
	  margin-right: 1rem;

	}

		a:hover {
  	background:rgba(0,0,0,0.3);
	}

	span {
		font-family: 'Dancing Script', cursive; 
		font-weight: 600;
		font-size: 1.5em;
	}

}
.hotel{
	position: absolute;
	top: 82%;
	left: 51%;
}
.mainpage {
	top: 12.1%;
}



// main text




.secondary_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  h3 {
    font-size: 30px;
	}
  .service__list{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    .service_item {
      h5 {
				margin: 10px 0;
        font-size: 16px;
      }
      p {
				margin: 10px 0;
        font-size: 14px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
	}
	.service__main {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));	
	}
}
.service-image {
  width: 350px;
  height: 350px;
}
.section-two {
	position: relative;
  display: grid;
	grid-template-columns: 1fr 1fr;
	.service__details {
		display: inline-block;
		position: absolute;
		left: 60%;
		top: 50%;
		transform: translateY(-50%);
		p {
			margin: 10px 0;
		}
	}
}
.mission {
	h4 {
		margin: 15px 0;
		font-size: 30px;
	}
	p {
		width: 80%;
		line-height: 25px;
	}
}


// contact


.contactSection {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 30px;
	.address {
		span {
			display: inline-block;
			margin: 10px 0;
			font-size: 20px;
		}
	}
}
.contact__form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	.address{
		p {
			font-size: 14px;
			margin: 10px 0;
		}
	}
}
.contact__details input{
	width: 90%;
	border: none;
	margin: 10px;
	border-bottom: 2px solid rgb(177, 177, 177);
}
.contact__us{
 .input1 {
		border: none;
		width: 100%;
		border-bottom: 2px solid rgb(177, 177, 177);
		margin: 10px 0;
	}
	.input2 {
		width: 100%;
		box-sizing: border-box;
		border: 2px solid rgb(177, 177, 177);
		height: 70px;
	}
	.submit {
		color: white;
		margin:20px 0;
		float: right;
		border: none;
		padding: 5px 20px;
		border-radius: 20px;
		background: rgb(16, 202, 16);
	}
}


// catalog

.cat__book {
	float: right;
	background: rgb(13, 119, 13);
	border : none;
	padding: 5px 10px;
	border-radius: 10px;
	color: white;
}
.cat__price {
	display: inline-block;
	margin-top:10px;
	font-size: 16px;
}
.cat__item {
	margin-top: 10px;
}


// room details

.room__details {
	margin: 10px 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
	.service_item_list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;	
	}
	.service_item {
		h5 {
			margin: 10px 0;
			font-size: 16px;
		}
		p {
			margin: 10px 0;
			font-size: 12px;
		}
		img {
			width: 100%;
			height: auto;
		}
		.cat__book{
			float: none;
		}
		ul {
			margin-top: 20px;
			li {
				list-style-type: square;
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}



// blog

.blog__hero {
	margin: 10px 0;
	img {
		width: 100%;
		height: 350px;
	}
}
.blog__post {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 20px;
	.post_details {
		h3 {
			margin: 10px 0;
		}
		p {
			margin: 10px 0;
		}
		h4 {
			margin: 20px 0;
			font-size: 20px;
		}
		img {
			width: 100%;
			height: 350px;
		}
	}
	.post_summary {
		h4 {
			margin: 20px 0;
			font-size: 20px;
		}
		ul {
			li {
				font-size: 16px;
				padding: 5px 0;
			}
		}
	}
}

// error
.error__container {
	height: 400px;
	position: relative;
	.error__details {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		h4 {
			margin-bottom: 50px;
		}
		h3 { 
			font-size: 100px;
			margin: 30px 0;
			text-align: center;
		}
		.error {
			border: none;
			background: rgb(23, 167, 23);
			padding: 10px 25px;
			font-size: 20px;
			border-radius: 20px;
		}
	}
}

// Product

.luxury {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin: 20px 0;
	p {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 10px;
		align-items: center;
		img {
			width:35px;
			height: auto;
		}
	}
}


// about
.about__details {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	.details__item {
		p {
			line-height: 20px;
			margin:10px;
			font-size: 14px;
		}
	}
	.left {
		p {
			line-height: 30px;
			font-size: 18px;
		}
	}
}

.our__future{
	display: grid;
	grid-gap: 80px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


// footer
.footer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	padding: 2em 8em;
  background-color: #cbced3; 

  li {
  	list-style-type: none;
  	margin: 10px 0;
  	color: $secondary-text-color;
 	a {
 		color: $secondary-text-color;
 	}
  } 
}