@import "base";
@import "vars";


.text-padding{
	padding: 1.2em 0;
}
.main__container {
	max-width: 1100px;
	width: 80%;
	margin: 0 auto;
	border-radius: 9px;
	background-color: rgb(252, 252, 252);
}

.primary_container {
	background: url("../media/main.jpg");
	width: 100%;
	height : 400px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(190, 192, 196, 0.2);
  position: relative;
}
.contact_container {
	background: #fcfcfc;
	width: 100%;
	padding : 20px;
	position: relative;
	.navList{
		a{
			color:black;
		}
	}
}

.hero__content {
		position: absolute;
  	top: 60%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 40%;
  	text-align: center;
  	color: $primary-text-color;

  	.booking{
  		background: $button-color;
  		border-radius: 15px;
  		border: none;
  		padding: 8px 15px;
  		color:$primary-text-color;
 			font-size: 10px;
 			cursor: pointer;
  	}
}

.navList {
	display: flex;
  align-items: center;
  justify-content: center;
	padding-top: 30px;
  
  a {
	  color:white;
	  font-weight: 300;
	  letter-spacing: 1px;
	  text-decoration: none;
	  padding:10px 5px;
	  transition:all 0.5s;
	  font-size: 1.1em;
	  margin-right: 1rem;

	}

		a:hover {
  	background:rgba(0,0,0,0.3);
	}

	span {
		font-family: 'Dancing Script', cursive; 
		font-weight: 600;
		font-size: 1.5em
	}

}
.hotel{
	position: absolute;
	top: 12.1%;
	left: 51%;
}



// main text




.secondary_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  h3 {
    font-size: 30px;
  }
  .service__list{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    .service_item {
      h5 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.service-image {
  width: 400px;
  height: 400px;
}
.section-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contactSection {
	display: grid;
	grid-gap: 30px;
  grid-template-columns: auto 1fr;
}

.footer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	padding: 2em 8em;
  background-color: #cbced3; 

  li {
  	list-style-type: none;
  	margin: 10px 0;
  	color: $secondary-text-color;
 	a {
 		color: $secondary-text-color;
 	}
  } 
}