.nav, .menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 2em;
  font-weight: bolder; }

h2 {
  font-size: 1.5em;
  font-weight: bolder; }

h3 {
  font-size: 1.17em;
  font-weight: bolder; }

h4 {
  font-size: 1.12em;
  font-weight: bolder; }

h5 {
  font-size: .83em;
  font-weight: bolder; }

h6 {
  font-size: .75em;
  font-weight: bolder; }

p {
  font-size: 1em; }

a {
  display: block;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: '';
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px; }

.container-fluid {
  margin: 0 auto;
  padding: 0 30px; }

[class*='col-'] {
  width: 100%;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-1 {
  width: 8.3333333333%; }

@media all and (min-width: 576px) {
  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 768px) {
  .container {
    max-width: 750px; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 992px) {
  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 1200px) {
  .container {
    max-width: 1200px; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; } }
.hero {
  position: relative;
  height: 100vh; }

.banner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .hero__content .hero__heading {
    font-size: 50px;
    color: white; }
  .hero__content .hero__text {
    font-size: 1.2em;
    color: white;
    margin: 2em 0;
    line-height: 1.5; }

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px; }

.fa-arrow-left {
  left: 30px; }

.fa-arrow-right {
  right: 30px !important; }

.builder {
  border: none;
  background: #5cb95c;
  padding: 30px 30px;
  position: relative;
  transition: all .3s linear; }
  .builder a {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase; }

.intense {
  margin-left: 1rem;
  padding: 28px 28px;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px; }

.bubble1, .bubble2 {
  width: 30px;
  height: 30px;
  background: skyblue;
  border-radius: 50%;
  position: absolute;
  display: none; }

.bubble3, .bubble4 {
  width: 30px;
  height: 30px;
  background: skyblue;
  border-radius: 50%;
  position: absolute;
  display: none; }

.bubble3, .bubble4 {
  background: white; }

.bubble1, .bubble3 {
  left: 0;
  top: 30%; }

.bubble2, .bubble4 {
  right: 0;
  top: 30%; }

.builder:hover {
  background: skyblue; }
  .builder:hover .bubble1, .builder:hover .bubble3 {
    display: inline-block;
    animation: slide 250ms linear;
    left: 0; }
  .builder:hover .bubble2, .builder:hover .bubble4 {
    display: inline-block;
    animation: slide2 200ms linear; }

.intense:hover {
  background: white; }
  .intense:hover a {
    color: black; }

@keyframes slide {
  0% {
    left: 0;
    top: 30%; }
  100% {
    left: 50%;
    top: 30%; } }
@keyframes slide2 {
  0% {
    right: 0%;
    top: 30%; }
  100% {
    right: 50%;
    top: 30%; } }
.nav {
  padding: 30px 0; }

.sub-menu2-1,
.sub-menu2-2,
.sub-menu2-3,
.sub-menu2-4,
.sub-menu2-5 {
  display: none; }

.menu__item {
  margin-left: 30px;
  position: relative; }
  .menu__item:last-child {
    background: #42b574;
    padding: 12px 16px;
    border-radius: 4px; }
    .menu__item:last-child .menu__link {
      padding-bottom: 0; }
  .menu__item:hover .sub-menu {
    display: inline-block; }

.primary-drop:hover .place {
  display: inline-block;
  position: absolute;
  left: 100%; }

.menu__link {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
  box-sizing: content-box;
  border-bottom: 2px solid transparent;
  position: relative; }
  .menu__link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background: linear-gradient(to right, #42b574, #84c450); }
  .menu__link.active:after {
    width: 100%;
    transform: scaleX(1); }
  .menu__link.active:hover:after {
    animation: none; }
  .menu__link:hover:after {
    animation: width 200ms linear forwards; }

@keyframes width {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
.component-link {
  position: relative; }
  .component-link span {
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 0;
    background: red;
    padding: 4px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase; }

.sub-menu,
.sub-menu2-1,
.sub-menu2-2,
.sub-menu2-3,
.sub-menu2-4,
.sub-menu2-5 {
  position: absolute;
  width: 200px;
  z-index: 1;
  display: none;
  padding-top: 30px; }
  .sub-menu a,
  .sub-menu2-1 a,
  .sub-menu2-2 a,
  .sub-menu2-3 a,
  .sub-menu2-4 a,
  .sub-menu2-5 a {
    color: #fff;
    font-size: 1em;
    padding: 10px 10px; }

.sub-menu__list {
  background: #000;
  border-top: 2px solid #42b574; }

.top {
  margin-top: -33%; }

.theme {
  padding-top: 80px;
  position: relative;
  height: 600px; }

.theme__heading {
  font-size: 2rem;
  margin: 2rem 0; }
  .theme__heading .flexible {
    background: linear-gradient(0deg, #42b574 0%, #84c450 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.theme__text {
  color: #434345;
  font-size: 1rem; }
  .theme__text .customer {
    color: skyblue; }

.theme__img {
  position: absolute; }

.theme__img1 {
  z-index: -2;
  left: 100px;
  bottom: 80px; }

.theme__img2 {
  left: 50%;
  transform: translateX(-50%);
  z-index: -3; }

.theme__img3 {
  right: 150px;
  bottom: -150px;
  z-index: -2; }

.feature-header {
  padding: 60px 0;
  background: linear-gradient(to right, #42b574, #84c450);
  position: relative;
  color: white; }
  .feature-header:after {
    content: '';
    height: 0;
    width: 0;
    border: 30px solid transparent;
    border-top: 30px solid #42b574;
    box-sizing: content-box;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1; }

.feature-header__intro {
  width: 70%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5; }

.feature-header__heading {
  font-size: 2rem;
  margin: 1rem; }

.features {
  position: relative;
  padding: 60px 0;
  min-height: 900px; }

.features__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100%; }

.feature__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: #fff;
  grid-gap: 3rem; }
  .feature__container i {
    font-size: 30px; }

.features__icon {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 4px; }

.features__icon-box {
  height: 60px;
  width: 60px;
  background: #42b574;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.features__heading {
  font-size: 1.5rem;
  margin: 1rem 0; }

.features__text {
  font-size: 1rem;
  line-height: 1.5; }

.ad {
  padding: 60px 0;
  background: linear-gradient(to right, cyan, #42b574, #84c450); }

.ad__container {
  display: flex;
  align-items: center;
  justify-content: center; }

.ad__heading {
  margin-right: 40px;
  font-size: 2.5rem;
  color: white; }

.ad__button {
  padding: 1rem;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1.7rem;
  color: white; }
  .ad__button .fas {
    margin-right: .5rem; }

.about {
  padding: 60px 0; }

.about__heading {
  font-size: 2rem;
  font-weight: 400; }

.about__hr {
  margin: 1rem 0;
  height: 2px;
  width: 80px;
  background: linear-gradient(90deg, #8668ad 0%, #55bbeb 100%); }

.about__text {
  font-size: 1rem;
  padding: 1rem;
  padding-left: 0;
  line-height: 1.5; }

.data {
  padding: 60px 0;
  background: url("../../assets/media/background-01-1920x1275.jpg"); }

.data__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  color: #fff; }

.data__item .data__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #8668ad 0%, #55bbeb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.data__item .data__hr {
  width: 50px; }
.data__item p {
  margin-top: 2rem;
  font-size: 1.5rem; }

.event .event-top {
  text-align: center;
  margin: 3rem 0; }
  .event .event-top .event-figure {
    width: 90%;
    height: auto; }
  .event .event-top h1 {
    color: #2c2727;
    font-size: 2.5rem; }

.event__more {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px; }

.event__list {
  display: grid;
  grid-gap: 20px;
  margin: 20px;
  grid-template-columns: auto 1fr; }
  .event__list .far {
    font-size: 3rem; }
  .event__list h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem 0; }
  .event__list p {
    font-size: 1rem;
    line-height: 1.5; }

.event__bottom {
  background: #000;
  margin-top: 4rem;
  text-align: center;
  position: relative; }
  .event__bottom .event__button {
    border: 1px solid white;
    border-radius: 6px;
    background: transparent;
    color: white;
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold; }

.black__triangle {
  height: 0;
  width: 0;
  border: 30px solid transparent;
  border-bottom: 30px solid black;
  position: absolute;
  top: -60px;
  left: calc(50% - 10px); }

.intense__theme h3 {
  font-size: 3rem;
  margin: 1rem 0; }
.intense__theme h4 {
  font-size: 2rem;
  margin: 1rem; }
  .intense__theme h4 .intense__span {
    background: linear-gradient(0deg, #42b574 0%, #84c450 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.intense__theme li {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 1rem; }

.figure__container {
  max-width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-items: space-around; }
  .figure__container figure {
    display: inline-block; }
    .figure__container figure img {
      width: 100%;
      height: auto; }

.child__btn {
  padding-bottom: 1rem; }

.figure__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center; }
  .figure__item h3 {
    font-size: 1.2rem;
    background: white;
    color: black;
    padding: .5rem 0;
    display: block; }
  .figure__item h4 {
    font-size: 1rem;
    background: black;
    color: white;
    padding: .4rem 0; }

.figure__text {
  position: absolute;
  top: 30%;
  left: 7%;
  transform: translateY(-50%, -50%); }

.team__header h3 {
  font-size: 3rem; }
.team__header p {
  margin: 1rem 0;
  font-size: 1.2rem; }

.team__hr {
  display: inline-block;
  width: 5%;
  height: 2px;
  background: linear-gradient(0deg, #42b574 0%, #84c450 100%); }

.team__member {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px; }
  .team__member .member .member__hr {
    width: 20%; }
  .team__member .member .member__list {
    height: 140px;
    width: 140px;
    border-radius: 50%; }
  .team__member .member h3 {
    font-size: 1.5rem;
    margin: .5rem 0; }
  .team__member .member h5 {
    color: skyblue;
    font-size: 1rem;
    margin: .5rem 0; }

.media__content {
  max-width: 80%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around; }

.media__icon {
  position: relative;
  display: inline-block;
  color: white;
  background: #2b2929;
  height: 50px;
  width: 50px;
  border-radius: 50%; }
  .media__icon .fab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.clients {
  margin: 0 auto;
  padding: 3rem 0;
  background: url(../media/background-03-1920x900.jpg); }
  .clients h2 {
    font-size: 2rem; }
  .clients .client__hr {
    display: inline-block;
    width: 10%;
    height: 2px;
    background: black; }
  .clients p {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem; }
  .clients h3 {
    margin: 2rem 0;
    color: skyblue;
    font-size: 1rem; }

.client__image {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem auto; }

.client__img__list {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.middle {
  width: 140px;
  height: 140px; }

.footer {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: 2fr 3fr 1fr 2fr;
  grid-gap: 30px;
  background: #202020; }

.footer__header {
  margin-left: 1rem; }
  .footer__header h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem; }
  .footer__header p {
    color: #857e7e;
    margin-top: 2rem; }
  .footer__header .media__content {
    justify-content: space-between;
    max-width: 100%; }

.newsletter h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem; }
.newsletter p {
  font-size: 1rem;
  color: white;
  line-height: 1.5; }
.newsletter .subscribe {
  margin: 1rem 0; }
  .newsletter .subscribe .media__icon {
    border-radius: 0;
    height: auto;
    width: 30px;
    position: relative; }
    .newsletter .subscribe .media__icon .fas {
      position: absolute;
      font-size: 2rem;
      margin-top: -4px;
      color: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .newsletter .subscribe input {
    height: 2.1rem; }
  .newsletter .subscribe .subscribe__btn {
    border: none;
    color: white;
    background: #4cb34c;
    padding: .6rem 1rem; }

.useful__links li {
  color: green;
  font-size: 1rem;
  list-style-type: disc;
  padding-bottom: 1.5rem; }
  .useful__links li a {
    color: white;
    font-size: 1rem; }

.latest__news h3 {
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem; }
.latest__news h5 {
  font-size: .8rem;
  color: #444242;
  margin-bottom: .8rem; }

.footer__bottom {
  background: #202020;
  padding: 2rem 1rem;
  font-size: 1rem;
  color: #444242; }

@media all and (max-width: 760px) {
  .client__image {
    grid-template-columns: 1fr; }

  .client__img__list {
    display: none; }

  .middle {
    display: block;
    justify-self: center; }

  .footer {
    grid-template-columns: 1fr;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
