h1{
    text-align: center;
}
h2{
    display: inline;
    margin:20px;
}
.container{
    display: inline-block;
    background:black;
    border:20px solid lightcoral;
}
.center{
    text-align: center;
}
.content{
    width: 300px;
    height: 300px;
    background:aqua;
    border:20px solid #bada55;
    margin:20px;
    display: inline-block;
}
.color{
    width:20px;
    height:20px;
    background: lightcoral;
    border-radius: 50%;
    display: inline-block;
}
.list2{
    background:black;
}
.list3{
    background: #bada55;
}
.list4{
    background:aqua;   
}
.list{
    width: 578px;
    margin:20px auto;
}
