body{
    background-color:mediumseagreen;
    width: 50%;
    margin: 10%;
}
h1{
    color:green;
    font-family: cursive;
    font-weight: normal;
}
p{
    padding: 20px 0px 20px 30px;
    background-color: green;
    font-family: fantasy;
    border-radius: 15px;
    font-style: italic;
    color:whitesmoke;
}
p::first-letter{
    text-transform: capitalize;
    color:red;
    font-size: 22px;
}
.decorative-text{
    padding: 20px 0px 20px 30px;
    color:black;
    background:greenyellow;
    border-radius: 10px;
    text-align: center;
    display: none;
}
p:hover + .decorative-text{
    display: block;
}