/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}
/* ============================
Basics
============================ */
body{
  font-size: 16px;
}
.wrapper{
  max-width: 1100px;
  width:100%;
  margin:0 auto;
}
img{
  width:100%;
  height:100%;
  margin:0;
}
h1{
  font-size:40px;
  display: inline-block;
}
h2{
  font-size: 32px;
}
a{
  color:rgb(255, 102, 0);
  text-decoration: none;
}

/* ============================
header
============================ */
.header{
  width:60px;
  height:auto;
}
.top{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap:20px;
  background: rgb(231, 225, 181);
  color:rgb(88, 81, 21);
}
/* ============================
gallery
============================ */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 150px);
  grid-auto-flow: row;
}
.item1 {
  background: black;
  color:white;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  padding: 2rem;
}
.item2{
  grid-column: 3/span 3;
  grid-row: 1/span 2;
}
.item5{
  grid-row: 3/span 2;
}
.item6{
  grid-row: 3/span 2;
}
.item7{
  grid-column: 3/span 2;
  grid-row: 3/span 2;
}
.item8{
  background: black;
  color:white;
  padding: 2rem;
  grid-column: 5/span 2;
  grid-row:3/span 2;
}
.item9{
  grid-column: 1/span 2;
  grid-row:5/span 2;
}
.item10{
  grid-row:5/span 2;
}
.item11{
  grid-column: 4/span 3;
  grid-row:5/span 2;
}
/* ============================
responsive
============================ */

@media (max-width:720px){
  .gallery{
    /* grid-template-columns: 1fr; */
    display: inline-block;
  }
}